body {
	background: #141821;
	color: white;
}

#title:hover {
	color: #6fffe9;
}

#services {
	color: green;
}

h2 {
	color: red;
}

#google-link:link {
	color: blue;
}

#google-link:visited {
	color: red;
}

ul > li {
	color: green;
}
